
$mobile-p-padding: 40px;
$font-size-mobile: 22px;

.fullpage-container {

  .intro-section{

    .intro {

      background-image: url('../images/intro-line.svg');
      background-position: left 50% bottom -350px;
      background-repeat: no-repeat;
      background-size: 60px;

      width: 100%;
      height: 100%;

      @include mobile {
        background-position: left 50% bottom -400px;
      }

      h1 {

        margin:auto;
        font-size: 4vw;
        color: #000;
        text-align: center;
        font-weight: 600;
        position: absolute;
        top: 38%;
        left: 18%;

        transition: all 0ms linear;

        @include mobile {
          font-size: 30px;
          // padding: 0 20px 0 20px;
          top: 36%;
          left: 0;
        }

      }

      .square {
        transition: all 400ms ease-out;
        left: 24%;
        top: 25%;
        position: absolute;
        height: 80px;
        cursor: pointer;
        background-image: url('../images/square.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 80px;

        @include mobile {
          top: 20%;
        }

      }

      .triangle {
        transition: all 400ms ease-out;
        left: 70%;
        top: 25%;
        position: absolute;
        height: 80px;
        cursor: pointer;
        background-image: url('../images/triangle.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 80px;

        @include mobile {
          left: 60%;
          top: 20%;
        }
      }

      .circle {
        transition: all 400ms ease-out;
        left: 47%;
        top: 55%;
        position: absolute;
        height: 20%;
        cursor: pointer;
        background-image: url('../images/circle.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 80px;

        @include mobile {
          left: 42%;
          top: 55%;
        }
      }
    }

  }

  .minds-section {

    position: relative;

    .pod-one {

      width: 100%;
      height: 100%;

      .line-holder {

        @include centerer;

        z-index: 200;

        width: 104px;
        height: 100%;

        background-image: url('../images/pod-line.svg');
        background-position: left 0px top -240px;
        background-repeat: no-repeat;
        background-size: 104px;
      }

      .text {
        width: 400px;
        top: 370px;
        padding-left: 60px;
        left: 50%;
        position: absolute;

        @include mobile {
          left: 0;
          background-color: #fff;
          width: 100%;
          padding: $mobile-p-padding;
        }

        p {

          font-weight: 200;

          @include mobile {
            font-size: 4vw;
          }
        }
      }
    }

  }

  .launchpad-section {

    position: relative;

    .launchpad-pod {

      width: 100%;
      height: 100%;

      // @include mobile {
      //   background-image: url('../images/pod-line.svg');
      //   background-position: left 50% top -250px;
      //   background-repeat: no-repeat;
      //   background-size: 104px;
      // }

      .line-holder {

        @include centerer;

        z-index: 200;
        // top: 0px;
        // left: 3.8%;
        width: 800px;
        height: 100%;
        background-image: url("../images/launchpad-pod.svg");
        background-position: left -266px top -180px;
        background-repeat: no-repeat;
        background-size: 842px;
      }

      .launchpad {
        width: 320px;
        top: 160px;
        left: 50%;
        padding-left: 60px;
        position: absolute;

        @include mobile {
          left: 0;
          background-color: #fff;
          width: 100%;
          padding: 40px;
        }

        p {
          padding-top: 0px;
          font-weight: 200;

          @include mobile {
            font-size: 4vw;
          }
        }
      }
    }

    .now-pod {

      margin-left: -244px;
      width: 460px;
      top: 460px;
      left: 50%;
      position: absolute;

      @include mobile {
        left: 0;
        background-color: #fff;
        width: 100%;
        padding: $mobile-p-padding;
      }

      p {
        padding-top: 0px;
        font-weight: 200;

        @include mobile {
          font-size: 4vw;
        }
      }

    }

  }


  .candidate-section {

    position: relative;

    .candidates {

      width: 100%;
      height: 100%;

      .line-holder {

        @include centerer;

        z-index: 200;

        width: 842px;
        height: 100%;
        background-image: url("../images/candidates.svg");
        background-position: left -66px top 0;
        background-repeat: no-repeat;
        background-size: 842px;
      }

      .content {

        width: 320px;
        top: 400px;
        left: 50%;
        margin-left: -320px;
        position: absolute;

        p {
          padding-top: 0px;
          font-weight: 200;

          @include mobile {
            font-size: 4vw;
          }
        }
      }
    }
  }

  .creativity-section {

    position: relative;

    .creativity {

      width: 100%;
      height: 100%;

      .line-holder {

        @include centerer;

        z-index: 200;

        width: 842px;
        height: 100%;
        background-image: url("../images/creativity-humanity-technology.svg");
        background-position: left -64px top -180px;
        background-repeat: no-repeat;
        background-size: 842px;
      }

      .content {

        width: 320px;
        top: 400px;
        left: 45%;
        padding-left: 20px;
        position: absolute;

        p {
          padding-top: 0px;
          font-weight: 200;

          @include mobile {
            font-size: 4vw;
          }
        }
      }
    }

  }


  .podwork-section {

    position: relative;

    .podwork {

      width: 100%;
      height: 100%;

      .line {

        @include centerer;

        z-index: 200;

        width: 842px;
        height: 100%;
        background-image: url("../images/howdoes-pod-work.svg");
        background-position: left 228px top -260px;
        background-repeat: no-repeat;
        background-size: 842px;
      }

      .content {

        width: 400px;
        top: 370px;
        left: 50%;
        margin-left: -260px;
        position: absolute;

        p {
          padding-top: 0px;
          font-weight: 200;

          @include mobile {
            font-size: 4vw;
          }
        }
      }

    }

  }

  .collaboration-section {

    position: relative;

    .collaboration {

      width: 100%;
      height: 100%;

      .line {

        @include centerer;

        position: absolute;
        z-index: 200;

        width: 1102px;
        height: 100%;

        background-image: url("../images/collaboration.svg");
        background-position: left 98px top -560px;
        background-repeat: no-repeat;
        background-size: 1102px;
      }

      .content {

        width: 260px;
        top: 360px;
        left: 58%;
        padding-left: 20px;
        position: absolute;

        p {
          padding-top: 0px;
          font-weight: 200;

          @include mobile {
            font-size: 4vw;
          }
        }
      }

    }

  }

  .podsignup-section {

    position: relative;

    .podsignup {

      width: 100%;
      height: 100%;

      .line {

        @include centerer;

        z-index: 200;

        width: 1102px;
        height: 100%;

        background-image: url("../images/pod-signup.svg");
        background-position: left 98px top -800px;
        background-repeat: no-repeat;
        background-size: 1102px;
      }

      .pod-logo {

        @include centerer;

        z-index: 220;
        top: 360px;
        width: 400px;
        height: 400px;
        margin-left: -36px;
        background-image: url("../images/pod-logo.svg");
        background-position: left 0px bottom 80px;
        background-repeat: no-repeat;
        background-size: 400px;
      }

      .content {

        width: 400px;
        top: 420px;
        left: 50%;
        margin-left: -220px;
        position: absolute;

        p {
          padding-top: 0px;
          font-weight: 200;

          @include mobile {
            font-size: 4vw;
          }
        }
      }
    }
  }

}
