/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-kerning: auto;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;
}

@import '_responsive';
@import '_mixins';
@import '_fullpage';

// override the section height, otherwise lines get messy.
.section {
  min-height: 800px !important;
  overflow-x: hidden;
}
