
@import 'h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-kerning: auto;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;
}

@import 'responsive';
@import 'mixins';
@import 'components/media-queries';
@import 'fullpage';

// override the section height, otherwise lines get messy.
.section {

  min-height: 1080px !important;
  overflow-x: hidden;

  @include mobile {
    height:600px;
    max-height: 900px !important;
    min-height: 900px !important;
  }
}


.section.podsignup-section {

  min-height: 600px !important;
  max-height: 600px !important;
  overflow-x: hidden;

  @include mobile {
    height:400px;
    max-height: 600px !important;
    min-height: 600px !important;
  }
}

::-webkit-scrollbar {
    display: block;
}
